<header class="round">
  <% logo = image_tag "marvin.png", alt: "Marvin robot", class: "round" %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>
